<div class="container">
<form action="/clients/edit/client.id" method="POST">
    <div class="form-group">
        <label for="codigo">Codigo</label>
        <input type="text" class="form-control" value= {{client.id_Nuevo}} name="id_Nuevo" id="codigo" required>
    </div>
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" name="nom_Nuev" value={{client.nom_Nuev}} id="nombre" required>
  </div>
  <div class="form-group">
    <label for="apellido">Apellido</label>
    <input type="text" class="form-control" name="ape_Nuev" value = {{client.ape_Nuev}} id="apellido" required>
  </div>
  <div class="form-group">
    <label for="telefono">Telefono</label>
    <input type="text" class="form-control" name="telefono" value={{client.telefono}} id="telefono">
  </div>
  <div class="form-group">
    <label for="direccion">Direccion</label>
    <input type="text" class="form-control" name="direccion" value={{client.direccion}} id="direccion" required>
  </div>
  <div class="form-group">
    <label for="genero">Genero</label>
    <select class="form-control" value={{client.sexo}} name="sexo" id="genero" required>
      <option value="">----Seleccione----</option>
      <option value="M">Masculino</option>
      <option value="F">Femenino</option>
      <option value="O">Otro</option>
    </select>
  </div>
  <div class="form-group">
    <label for="genero">Tipo Membresia</label>
    <select class="form-control" name="tipo_membresia" id="membresia">
      <option value="">----Seleccione----</option>
      <option value="VIP">VIP</option>
      <option value="ESTANDAR">ESTANDAR</option>
    </select>
  </div>
  <div class="form-group">
    <button class="btn btn-primary">Agregar</button>
    <button class="btn btn-danger">Cancelar</button>
  </div>
</form>
</div>