<div class="container p-4">
    <h3>Lista Clientes</h3>
    <div>
        {{#if clients}}
        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>NOMBRE</td>
                    <td>APELLIDOS</td>
                    <td>EMAIL</td>
                    <td>TIPO_MEMBRESIA</td>
                    <td>ACCIONES</td>
                </tr>
            </thead>
            <tbody>
                {{#each clients}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{nombre}}</td>
                    <td>{{apellidoP}} {{apellidoM}}</td>
                    <td>{{email}}</td>
                    <td>{{membresia}}</td>
                    <td>
                        {{!--TODO: IMPROVE--}}
                        <a class="btn" href="/clients/edit/{{id}}">Editar</a>
                        <a class="btn btn-danger" href="/clients/delete/{{id}}">Eliminar</a>
                    </td>
                </tr>
                {{/each}}
                 </tbody>
            </table>
            {{else}}
                    <div class="col-md-4 mx-auto">
                        <div class="card card-body text-center">
                            <p>No hay usuarios registrados</p>
                            <a href="/clients/add">Crear nuevo</a>
                        </div>
                    </div>
            {{/if}}
    </div>
</div>