<div class="container p-4">
    {{!--TODO: IMPROVE--}}
    <h3>Lista Trainers</h3>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>NOMBRE</td>
                    <td>APELLIDOS</td>
                    <td>TELEFONO</td>
                    <td>DIRECCION</td>
                    <td>GENERO</td>
                    <td>TIPO TRAINER</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                {{#each clients}}
                <tr>
                    <td>{{cod_usuario}}</td>
                    <td>{{nom_usuario}}</td>
                    <td>{{ape_usuario}}</td>
                    <td>{{Cargo}}</td>
                    <td>{{correo}}</td>
                    <td>
                        {{!--TODO: IMPROVE--}}
                        <button class="btn btn-secondary">Editar</button>
                        <button class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>
